<div class="container">
  <div class="row">
    <div class="jumbotron span7">
        <h2>Добро пожаловать в команду <br><span style="color: green" class="fa fa-check-square-o"></span> TaskCheck</h2>

        <h5>
        Мы поможем Вам:
        </h5>
        <h5>
            <ol>
                <li>Управлять своими задачами из любой точки мира</li>
                <li>Объединиться с колегами и друзьями в решении задач</li>
                <li>Управлять занятостью своих подчиненных</li>
            </ol>
        </h5>
      <br>
      <blockquote>
        <p><i class="fa fa-quote-left"></i>
          Поистине серьезное стремление к какой-либо цели - половина успеха в ее достижении.
          <small>Вильгельм Гумбольдт</small>
        </p>
      </blockquote>
    </div>
    <div class="jumbotron span4">
        <div class="container">
          <h4 align = "center">
            <%= yield %>
          </h4>
        </div>
    </div>
  </div>
</div>


