<%= render layout: "welcome" do %>
    <h4 align = "center">
        Вы вошли как <br /><br />
      <% @linker = '<i class="fa fa-user"></i><span style="color: green">'.html_safe+' '+@user[:username]+'</span>'.html_safe%>
      <%= link_to @linker, edit_user_path(current_user[:id])%>

      <br /><br />
      <% @linker = '<i class="fa fa-sign-out"></i>'.html_safe %>
      <%= link_to @linker+" Выход ", destroy_user_session_path, :method =>:delete%>
    </h4>
<% end %>


